@font-face {
	font-family: f-1;
	src: url("font/Poppins-Regular.ttf");
}
@font-face {
	font-family: f-2;
	src: url("font/Poppins-Bold.ttf");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html::-webkit-scrollbar {
	display: none;
}
body {	
	position: relative;
	font-size: 1.25rem;
	font-family: f-1;
}
/* -----DEFAULT STYLE ABOVE---- */
/* ---------------------------- */
/* --STYLE FOR PARALLAX BELOW-- */
header, .section-1, .section-2, .section-3, .section-4 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: transparent;
	position: relative;
}
header h1, .section-1 h1, .section-2 h1, .section-3 h1, .section-4 h1 {
	font-size: 4rem;
	font-family: f-2;
	color: #fff;
}
header::before, .section-1::before, .section-2::before, .section-3::before, .section-4::before {
	content: "";
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	filter: brightness(0.5);
}
header::before {
	background-image: url("img/building(2).jpg");
}	
.section-1::before {
	background-image: url("img/woman.avif");
}
.section-2::before {
	background-image: url("img/building.avif");
}
.section-3::before {
	background-image: url("img/sun(1).jpg");
}
.section-4::before {
	background-image: url("img/back-shadow.avif");
}

@media (max-width: 786px){
	h1 {
		display: none;
	}
}






















